* {
    margin: 0;
    padding: 0;
    color: inherit;
    list-style: none;
    text-decoration: none;
    max-width: 100%;
    box-sizing: border-box;
}
.carrito {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10vh;
    font-size: 24px;
}
.carrito table {
    width: 80vw;
    border-collapse: collapse;
    margin-top: 30px;
}
.carrito th {
    border-bottom: 1px solid black;
}
.carrito h2 {
    font-size: 2rem;
}
.table img {
    max-width: 100px;
    margin: 15px;
}
.linea-carrito:hover {
    background-color: lightgrey;
}
.linea-total {
    margin-top: 1px;
}
.tb-r {
    text-align: right;
}
.tb-l {
    text-align: left;
}
.tb-c {
    text-align: center;
}
.vaciarCarrito {
    display: flex;
    float: right;
}
.btn-vaciarCarrito {
    margin-top: 10vh;
    background-color: #2241c7;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}
.btn-vaciarCarrito:hover {
    background-color: grey;
    cursor: pointer;

}
.verArticulo:hover {
    text-decoration: underline;
    color: black;
}
.btn-remItem {
    padding: 15px 20px;
    font-size: 24px;
    border-radius: 50px;
    border: none;
    background-color: red;
    cursor: pointer;
}
.emptyCartImage {
    width: 20vw;
}
.formulario {
    margin-top: 10vh;
    background-color: #f2f2f2;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    max-width: 50vw; }

.formulario__titulo {
    font-size: 2rem;
    margin-bottom: 2vh;
}

.formulario input {
    background-size: 24px;
    font-size: 1.5rem;
    width: 200px;
    border: transparent;
    border-bottom: solid 1px #ccc;
    padding: 10px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}
.formulario__campos {
    padding: 15px;
    display: flex;
    flex-direction: row; }
.formulario__campos--izq {
    width: 20em;
    text-align: left; }
.formulario__campos--cen {
    width: 20em;
    justify-content: center; }
.formulario__campos--der {
    width: 20em;
    text-align: right; }
.formulario__campos label {
    display: inline-flex;
    width: 7rem; }
